

<script src="http://emp.truly.com.cn/Emp/Scripts/jweixin-1.2.0.js"></script>
<script src="http://emp.truly.com.cn/Emp/Scripts/ICqywxJs3.js"></script>
<script>
    $(function () {
        var js = qywxJs(); //qywxJs({ debug: true }); //先注册企业微信扫描接口并进行签名验证，可传入{ debug: true }作为参数进入调试模式
        $("#btnScan").on("click", function () {
            js.ScanCode(function (code) {
                alert(code); //code就是扫描后的结果
            });
        });
    });

    //    var js = qywxJs({ debug: true }); //先注册企业微信扫描接口并进行签名验证
    //    $("#btnScan").on("click", function () {
    //        if (js) {
    //            js.wx.ready(function () {
    //                js.ScanCode(function (code) {
    //                    alert(code); //code就是扫描后的结果
    //                });
    //            });
    //        }
    //    });
    //});


</script>

<button id="btnScan" class="btn btn-success">扫描</button>