
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-info-circle"></i> @ViewData["title"]</h3>
    </div>
    <div class="panel-body">
        <p>@ViewData["content"]</p>
    </div>
</div>
