@{
    Layout = null;
}

<div class="modal fade" id="confirmModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true" style="z-index:2001;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="confirmModalLabel"><i class="fa fa-question-circle"></i> <span id="cf_text_title">操作确认</span></h4>
            </div>
            <div class="modal-body" style="max-height:400px;overflow:auto;">
                <p id="confirm_content" class="text-danger"></p>
            </div>
            <div class="modal-footer">
                <button id="cf_bt_cancel" type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-mail-reply"></i> <span id="cf_text_cancel">取消</span></button>
                <button id="cf_bt_confirm" type="button" class="btn btn-success"><i class="fa fa-check"></i> <span id="cf_text_confirm">确定</span></button>
            </div>
        </div>
    </div>
</div>

<script>
    //打开确认对话框，content是提示内容，callback是点击确认之后的回调方法
    var cfcb;
    function openConfirmDialog(content, callback, title, cancelText, confirmText) {
        $("#cf_text_title").html(title ? title : "操作确认");
        $("#cf_text_cancel").html(cancelText ? cancelText : "取消");
        $("#cf_text_confirm").html(confirmText ? confirmText : "确定");
        
        $("#confirmModal").modal("show");        
        $("#confirm_content").html(content);        
        cfcb = callback;
    }
    $(function () {
        $("#cf_bt_confirm").on("click", function () {
            $("#confirmModal").modal("hide");
            cfcb();
        });
    });
</script>