@{
    Layout = null;
}
<script>
    
    var cb;
    function openConfirmPasswordDialog(callback) {
        cb = callback;
        $("#confirmPassModal").modal("show");
        $("#val_password").val("");
    }
    
    $(function () {

        $("#val_password").keyup(function () {
            if (event.keyCode == 13) {
                $("#validatePasswordBt").trigger("click");
            }
        });

        $("#validatePasswordBt").on("click", function () {
            var me = this;
            var oldPass = $("#val_password").val();
            if (oldPass.length < 6) {
                toastr.error("请输入6位以上的原始密码进行验证");
                return;
            }
            $(me).button('loading');
            $.post("@Url.Content("~/Home/ValidateOldPassword")", { old_pass: oldPass }, function (data) {
                $(me).button("reset");
                if (data.suc) {
                    $("#confirmPassModal").modal("hide");
                    cb(data); //回调
                } else {
                    toastr.error(data.msg);
                }
            });
        });

    });
    

</script>

<div class="modal fade" id="confirmPassModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="resetPasswordLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">登陆密码验证</h4>
                </div>
                <div class="modal-body">                        
                    <div class="input-group">
                        <input type="password" class="form-control" id="val_password" placeholder="请输入你的登陆密码进行验证" />
                        <span class="input-group-btn">
                            <button class="btn btn-danger" type="button" id="validatePasswordBt" data-loading-text="验证中...">验证</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>