@{
    Layout = null;
}
<link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-treeview.min.css")" />

<script src="@Url.Content("~/Scripts/bootstrap-treeview.min.js")"></script>
<script>
    var sdcb;
    var sdurl = "";
    var selectedDep;
    function openSelectDepDialog(typ, callback) {
        if (typ == 0) {
            sdurl = "@Url.Content("~/Item/GetDepartmentTreeForSel")";
        } else if (typ == 1) {
            sdurl = "@Url.Content("~/Item/GetAdminDepartmentTreeForSel")";
        }

        sdcb = callback;
        $("#depSelModal").modal("show");
        GetTreeData();
    }
    function GetTreeData() {
        if ($("#depTree").html()!=""){
            return;
        }
        if (!sdurl) {
            toastr.error("部门选择模块出错");
            return;
        }
        $.post(sdurl, {}, function (data) {
            $("#depTree").treeview({
                levels:1,
                data: data,
                expandIcon: "fa fa-folder-o",
                collapseIcon: "fa fa-folder-open-o",
                emptyIcon: "fa fa-home",
                onNodeSelected: function (event, node) {
                    var num = node.tags[0];
                    var id = node.tags[1];
                    var name = node.text;
                    var longName = name;

                    var parent = $('#depTree').treeview('getParent', node);
                    while (!isNaN(parent.nodeId)) {
                        longName = parent.text + "/" + longName;
                        parent = $('#depTree').treeview('getParent', parent);
                    }
                    selectedDep = { depNum: num, depShortName: name, depLongName: longName, depId: id };
                }
            });
        });
    }
    $(function () {
        $("#depSelBt").on("click", function () {
            sdcb(selectedDep); //通过回调返回已选部门
            $("#depSelModal").modal("hide");
        });

    });

</script>
<div class="modal fade" id="depSelModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="depSelLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">选择部门</h4>
            </div>
            <div class="modal-body" style="min-height:280px;max-height:400px;overflow:auto;">
                <p class="small text-danger"><i class="fa fa-info-circle"></i> 点击文件夹图标可展开子部门，选择正确部门后点击确认按钮返回。</p>
                <div id="depTree"></div>

            </div>
            <div class="modal-footer">                
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-success" id="depSelBt">确认</button>
            </div>
        </div>
    </div>
</div>
