@{
    Layout = null;
}
<script>
    var t = 15;
    var iv = setInterval(function () {
        t--;
        if (t < 0) {
            clearInterval(iv);
            window.location.href = "@Url.Content("~/Home/Index")";
        } else {
            document.getElementById("ts").innerHTML = t;
        }
    }, 1000);
</script>
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>错误</title>
</head>
<body>
    <hgroup>
        <h1>错误。</h1>
        <h2>处理你的请求时出错；<span id="ts">15</span> 秒后会自动跳转到主界面。</h2>
        <h3>出错原因：@ViewBag.tip</h3>
    </hgroup>
</body>
</html>