
    <div>        
        <div ><img src="@Url.Content("~/Content/images/warn.png")" style="float:left;" /><h2 class="text-danger" style="padding-left:12px;padding-top:24px;">抱歉，您没有访问此功能的权限。如有需要，请联系系统管理员处理。</h2></div>
    </div>
