@{
    ViewBag.Title = "SecondValify";
}
<style type="text/css">
        .b-label {
            display: inline-block;
            width: 25%;
            vertical-align: top;
            color: gray;
        }

        .b-div {
            margin: 10px 0;
            display:inline-block;
            width:70%
        }

    </style>
<div class="row" style="margin-left:0;margin-right:0;">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12" style="padding-left:0;padding-right:0;">
        <div class="panel panel-danger">
            <div class="panel-heading">
                企业微信二次认证
            </div>
            <div class="panel-body">
                <div class="b-div">
                    <span class="b-label">
                        厂牌号码：
                    </span>
                    <span>
                        <input type="text" class="form-control" name="card_number" />
                    </span>
                </div>
                <div class="b-div">
                    <span class="b-label">
                        姓名：
                    </span>
                    <span>
                        <input type="text" class="form-control" name="card_number" />
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>